img{
  height: 50px;
  width: 70px;
}
.flex{
  display: flex;
  justify-content: space-between;
}.maindiv{
  width: 600px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
}.case{
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 80px;
  padding: 5px;
}